# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# Database
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# OS files
.DS_Store
Thumbs.db